.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/Dojo/DojoTests/obj
/Dojo/.vscode
/CodingDojoKatas/.vscode
/CodingDojoKatas/CodingDojoKatas/RomanLiteralsTests/bin/Debug/net5.0
/CodingDojoKatas/CodingDojoKatas/RomanLiteralsTests/obj
/CodingDojoKatas/CodingDojoKatas/RomanLiteras/bin/Debug
/CodingDojoKatas/CodingDojoKatas/RomanLiteras/obj
*.suo
/CodingDojoKatas/FizzBuzz/bin/Debug
/CodingDojoKatas/FizzBuzz/obj
/CodingDojoKatas/FizzBuzzTests/bin/Debug/net48
/CodingDojoKatas/FizzBuzzTests/obj
/CodingDojoKatas/BowlingGame/bin/Debug
/CodingDojoKatas/BowlingGame/obj
/CodingDojoKatas/BowlingGameTests/bin/Debug
/CodingDojoKatas/BowlingGameTests/obj
/CodingDojoKatas/BowlingAppModel/obj
/CodingDojoKatas/BowlingAppModel/bin/Debug
/CodingDojoKatas/BowlingAppViewModelTests/obj
/CodingDojoKatas/BowlingAppViewModelTests/bin/Debug/net5.0
/CodingDojoKatas/BowlingAppViewModel/obj
/CodingDojoKatas/BowlingAppViewModel/bin/Debug/net5.0
/CodingDojoKatas/BowlingAppModelTests/obj
/CodingDojoKatas/BowlingAppModelTests/bin/Debug
/CodingDojoKatas/OneDrive - Shortcut.lnk
/CodingDojoKatas/.suo
